@import "ember-power-select";

$grey: transparentize(#4b4b4b, .46);

a {
  color: #00BCD4;
}

* {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
  color: #4b4b4b;
}



main {
  max-width: 1024px;
  margin: 0 auto;
}
.header {
  padding: 96px 0 64px;
  text-align: center;

  h1 {
    font-size: 48px;
  }
}


.new-ticket {
  display: inline-block;
  background-color: #00BCD4;
  color: #fff;
  text-transform: uppercase;
  padding: 16px 24px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.container {
  border-radius: 4px;
  padding: 40px 0;
  background-color: #fff;
  margin-top: 24px;

  header {
    padding: 0 40px;
  }
}
.filter {
  margin-top: 24px;
  color: $grey;
  display: flex;
  height: 40px;
  align-items: center;

  h3 {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
  }

  .field, .button {
    margin-left: 20px;
  }
  .field:first-of-type {
    margin-left: 40px;
  }
}



// table
.table-container {
  padding: 0 40px;
  table {
    width: 100%;
    text-align: left;
    margin-top: 40px;
    border-collapse: collapse;

    tr {
      height: 40px;
      &:nth-child(odd) {
        background-color: transparentize(#4b4b4b, .95);
      }

      td {
        color: $grey;
      }
    }
  }
}



// new ticket
.form {
  padding: 0 40px;
  display: flex;
  flex-wrap: wrap;
  margin: -20px -10px 0 -10px;

  .field {
    width: calc(50% - 20px);
    margin: 20px 10px 0;
    label {
      display: block;
      margin-bottom: 8px;
    }
    .select {
      width: 100%;
      margin-left: 0;
    }

    &.field-g {
      width: 100%;
    }
  }

  .button {
    margin: 20px 0 0 10px;
  }
}



// edit ticket
.header.edit {
  text-align: left;
  a {
    display: inline-block;
    margin-bottom: 10px;
  }
  h1 {
    font-size: 32px;
    span {
      font-size: 24px;
      font-weight: normal;
    }
  }
  p {
    color: $grey;
    line-height: 150%;
    &:first-of-type {
      margin-top: 8px;
    }
  }
}

.responses {
  padding: 80px 40px 0;
  h2 {
    text-align: center;
  }

  .response {
    margin-top: 20px;
    p {
      line-height: 150%;
      &:first-child {
        font-weight: bold;
      }
    }
  }
}



// inputs
.select {
  height: 40px;
  display: inline-block;
  border: 1px solid transparentize(#4b4b4b, .88);
  border-radius: 4px;
  color: $grey;
  outline: none;
  background-color: #fff;
  padding: 0 16px;
  font-size: 16px;
  margin-left: 8px;
}

.button {
  display: inline-block;
  background-color: #4b4b4b;
  color: #fff;
  font-size: 14px;
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.textarea {
  @extend .select;
  resize: none;
  height: 100px;
  padding: 16px;
  line-height: 150%;
  transition: border-color .3s;
  &:focus {
    border-color: #ddd;
  }
}



.footer {
  text-align: center;
  padding: 40px;
  font-size: 12px;
}

@import "ember-power-select";
