<header class="header">
  <h1>Novo ticket</h1>
</header>

<section class="container">
  <div class="form">
    <div class="field">
      <label>Categoria</label>
      {{#power-select selected=category class="select" options=categories onchange=(action "chooseCategory") as |name|}}
        {{name}}
      {{/power-select}}
    </div>

    <div class="field">
      <label>Produto</label>
      {{#power-select selected=product class="select" options=products onchange=(action "chooseProduct") as |name|}}
        {{name}}
      {{/power-select}}
    </div>

    <div class="field field-g">
      <label>Mensagem</label>
      {{textarea value=message class="textarea" placeholder="Escreva sua mensagem aqui..."}}
    </div>

    <button type="button" class="button" {{ action 'saveTicket' }}>Salvar ticket</button>
  </div>

</section>
